---
layout: default
title: OCTOChti
---

<div class="row padded">
    <div class="col col--important">
        <div class="row row--vertical">
            <div class="col">
                <div class="why">
                    <p class="text-center"><span class="quote">“</span>NOUS nous engageons à diffuser les <span
                        class="emphase">valeurs</span> et <span
                        class="emphase">savoir-faire</span> d'OCTO pour concrétiser la transformation numérique de
                        la région Nord avec <span class="emphase">audace</span> et <span
                            class="emphase">plaisir</span><span class="quote">”</span></p>
                </div>
            </div>

            <div class="col">
                <div class="box box--lined">
                    <h4 class="title--boxed">A propos de OCTO CHTI</h4>
                    <div class="content">
                        <div class="camp-img text-center">
                            <img src="assets/images/camp.png" alt="camp" usemap="#camp">
                            <map name="camp">
                                <area shape="rect" coords="100,0,400,100" href="#about-camp" alt="Campement" />
                            </map>
                        </div>
                        <p id="about-camp">OCTO Technology a décidé de poser ses valises dans la région lilloise, conscient du potentiel
                            présent sur la région et fort des enseignements acquis lors des missions réalisées
                            localement.</p>
                        <p>OCTO Nord souhaite trouver un mode de fonctionnement à la OCTO tout en trouvant son style sur
                            la région.</p>
                        <p>Une histoire d’équipe, un projet collectif soutenu individuellement par les Octos avec
                            l’objectif de s’inscrire dans le paysage régional, de trouver le style OCTO sur ce marché et
                            de déclencher de l’impact chez nos partenaires.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="box content">
                    <h4 class="title--boxed">Nos BBL</h4>

                    {% for bbl in site.data.bbl limit: 3 %}
                    {% include bbl.html bbl=bbl %}
                    {% endfor %}

                    <p class="text-center"><a href="/bbl.html" class="btn">Voir tous nos BBL</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="row row--vertical">
            <div class="col">
                <div class="box content">
                    <h2>OCTO recrute à Lille.</h2>

                    <p>Plus qu'une <b class="emphase">Great Place To Work</b>, OCTO se vit en interne comme une
                        véritable <b class="emphase">Best Place To Grow</b>.</p>

                    <a href="/join-us.html" class="btn">Rejoignez-nous !</a>
                </div>
            </div>

            <div class="col">
                <div class="box">
                    <h4 class="title--boxed">Suivez-nous</h4>

                    <div class="content">
                        <a class="twitter-timeline" data-height="600"
                           href="https://twitter.com/octochti?ref_src=twsrc%5Etfw">Tweets by octochti</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="box">
                    <h4 class="title--boxed">Nos évenements</h4>

                    <div class="content">
                        {% unless site.data.events %}
                        <small>Aucun évenement pour le moment.</small>
                        {% endunless %}

                        {% for event in site.data.events limit: 3 %}
                        {% include event.html event=event %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row--vertical">
    <div class="col">
        <div class="box content">
            <h2>Le campement en photos.</h2>

            <div class="row padded">
                <div class="col">
                    <img src="https://now-coworking.com/wp-content/uploads/2017/06/now_lille_galerie10.jpg" alt="">
                </div>

                <div class="col">
                    <img src="https://now-coworking.com/wp-content/uploads/2017/06/now_lille_galerie16.jpg" alt="">
                </div>

                <div class="col">
                    <img src="https://now-coworking.com/wp-content/uploads/2017/06/now_lille_galerie19.jpg" alt="">
                </div>

                <div class="col">
                    <img src="https://now-coworking.com/wp-content/uploads/2017/06/now_lille_galerie12.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
