---
layout: default
---

<div class="why">
    <p class="text-center">
        OCTO Chti : consultez <span class="emphase">local</span> et bénéficiez
        de services <span class="emphase">haut de gamme</span> et
        <span class="emphase">durables</span>.
    </p>
</div>

<div class="row padded">
    <div class="col col--important">
        <div class="row row--vertical">
            <div class="col">
                <div class="box box--lined expertises">
                    <h3 class="title--section">Nos expertises.</h3>

                    <div class="content">
                        <p class="about-camp">
                            Chez OCTO Chti nous mettons tout en oeuvre pour vous
                            accompagner au sein de vos transformations et de vos
                            réalisations logicielles.
                        </p>

                        <p>
                            Nous avons à coeur de co-construire des solutions
                            qui déchirent grâce à notre expérience de la Tech,
                            des façons de faire et des organisations.
                        </p>

                        <div class="solutions">
                            <div class="row">
                                <div class="col align-item--bottom pad-col--left">
                                    <img src="{{ '/assets/images/about/conseil_sur_mesure.png' | absolute_url }}"
                                        alt="conseil_sur_mesure" />

                                    <div class="col text-center title-about">
                                        <strong class="title">Conseil sur mesure</strong>
                                    </div>
                                </div>
                                <div class="col align-item--bottom pad-col--center">
                                    <img src="{{ '/assets/images/about/delivery.png' | absolute_url }}"
                                        alt="delivery" />

                                    <div class="col text-center title-about">
                                        <strong class="title">Delivery<br />&nbsp;
                                        </strong>
                                    </div>
                                </div>
                                <div class="col align-item--bottom pad-col--right">
                                    <a href="https://www.octo.academy/" target="_blank"><img
                                            src="{{ '/assets/images/about/formations.png' | absolute_url }}"
                                            alt="formations" />
                                        <div class="col text-center title-about">
                                            <strong class="title">Formations<br />&nbsp;</strong>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row"></div>
                        </div>
                        <p>
                            Nos manières de faire reposent sur des pratiques et
                            des rituels agiles qui favorisent la confrontation
                            d’idées et le regard critique. C’est parce que nous
                            sommes des faiseurs que nous sommes des auditeurs et
                            des conseilleurs appréciés. Ce sont toutes ces
                            expertises qui nous rendent fiers de relever les
                            challenges que doivent affronter nos clients.
                        </p>

                        <div class="poles">
                            <div class="row">
                                <div class="col half">
                                    <img src="{{ '/assets/images/expertises/Illustration_Realisation_projet.png' | absolute_url }}"
                                        alt="Illustration_Realisation_projet" />
                                </div>
                                <div class="col aligner-item--top col-text">
                                    <strong>Méthodo & Change</strong>
                                    <ul>
                                        <li>Agile, Lean</li>
                                        <li>Facilitation</li>
                                        <li>
                                            Coaching d’organisation et coaching
                                            d’équipes
                                        </li>
                                        <li>Cadrage 360°</li>
                                    </ul>
                                </div>
                                <div class="col half">
                                    <img src="{{ '/assets/images/expertises/Illustration_Etude_tech.png' | absolute_url }}"
                                        alt="Illustration_Etude_tech" />
                                </div>
                                <div class="col aligner-item--top col-text">
                                    <strong>Data & Cognitive Automation</strong>
                                    <ul>
                                        <li>Data engineering</li>
                                        <li>Data science</li>
                                        <li>ML Ops</li>
                                        <li>Data ops</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row row-margintop">
                                <div class="col half">
                                    <img src="{{ '/assets/images/expertises/Illustration_tresor.png' | absolute_url }}"
                                        alt="Illustration_tresor." />
                                </div>
                                <div class="col aligner-item--top col-text">
                                    <strong>Software engineering</strong>
                                    <ul>
                                        <li>
                                            Réalisation et co-réalisation de
                                            logiciels
                                        </li>
                                        <li>Culture DevOps</li>
                                        <li>Culture Craftsmanship</li>
                                        <li>
                                            Construction d’équipes de
                                            réalisation : team is the product
                                        </li>
                                    </ul>
                                </div>
                                <div class="col half">
                                    <img src="{{ '/assets/images/expertises/Illustration_Tipi.png' | absolute_url }}"
                                        alt="Illustration_Tipi" />
                                </div>
                                <div class="col aligner-item--top col-text">
                                    <strong>Architecture</strong>
                                    <ul>
                                        <li>
                                            Assessment de SI et d'organisations
                                        </li>
                                        <li>Architectures de SI</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-bbl">
                <div class="box content">
                    <h3 class="title--section">Nos BBL.</h3>

                    <p>
                        Un Brown Bag Lunch (BBL) est un moment d’environ 1h30
                        sur l'heure du déjeuner, pendant lequel un Octo vient
                        partager ses connaissances chez vous, sur un sujet lié à
                        ses expertises.
                    </p>
                    <strong>Comment ça marche si l'un des sujets vous intéresse
                        ?</strong>
                    <ul>
                        <li>
                            Envoyez-nous un mail à chti@octo.com en nous
                            indiquant le sujet qui vous intéresse pour votre
                            entreprise ou votre équipe.
                        </li>
                        <li>
                            Notre expert.e concerné.e par le sujet vous
                            recontactera pour fixer une date.
                        </li>
                        <li>
                            Le jour J, échange de bons procédés ! L’expert.e
                            apporte ses connaissances, vous le déjeuner :)
                        </li>
                        <li>
                            Il ne restera qu'à profiter de la présence de
                            l'expert.e pour approfondir le sujet et le rendre
                            plus concret dans le cadre de votre entreprise ou de votre équipe.
                        </li>
                    </ul>

                    {% for bbl in site.data.bbl %} {% include bbl.html bbl=bbl
                    %} {% endfor %}
                </div>
            </div>




            <div class="col equipe">
                <div class="box content">
                    <h3 class="title--section">Notre collectif.</h3>

                    <div class="row" id="toShuffle">
                        {% assign peoples = site.data.people %} {% for people in peoples
                            %}
                        <a class="col people-card shuffleMe"
                            href=" {{ '/equipe.html#' | append: people.poly | absolute_url }}">

                            <img src="{{ '/assets/images/people/' | append: people.poly | append: '.jpg' | absolute_url }}"
                                alt="{{people.name}}" class="img-people" />

                            <h4 class="text-center people-info">
                                {% assign name = people.name | replace: " ",
                                        "&#8239;&#8239;" %}
                                <span class="people-name">{{name}}</span>
                                <br />
                                <small>{{people.job}}</small>
                            </h4>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="equipe-rejoignez">
                        <a href="{{ '/join-us.html' | absolute_url }}" class="btn">Rejoignez-nous !</a>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="col">
        <div class="row row--vertical align-items--top">
            <div class="col">
                <div class="box content">
                    <h2>OCTO recrute à Lille.</h2>

                    <p>
                        Plus qu'une <b class="emphase">Great Place To Work</b>,
                        OCTO se vit en interne comme une véritable
                        <b class="emphase">Best Place To Grow</b>.
                    </p>

                    <a href="/join-us.html" class="btn">Rejoignez-nous !</a>
                </div>
            </div>

            <div class="col octo-camp">
                <div class="box">
                    <h3 class="title--section fondateurs">
                        Les mots des fondateurs.
                    </h3>

                    <div class="content">


                        <h4 class="text-center">
                            Julien Jakubowski
                        </h4>
                        <div class="text-center">
                            <img src="{{ '/assets/images/people/' | append: 'JJA.jpg' | absolute_url }}"
                                alt="Julien Jakubowski" class="img-wbo" />
                        </div>


                        <p>
                            “OCTO Nord, c'est une histoire de personnes réunies autour de la même conviction forte :
                            pour faire honneur à notre vocation de consultant.e.s et pour pouvoir atteindre les
                            résultats les plus impressionnants, il est essentiel de refuser radicalement la facilité et
                            de déjouer le plus possible les pièges de la complexité et de la banalisation. Ce qui
                            m'anime et qui me rend fier c'est d'avoir impulsé et contribué de toutes mes forces, dès la
                            création, à cette aventure intrapreunariale et c'est de pouvoir dire aujourd'hui que chaque
                            membre du collectif apporte ses valeurs, ses idées, ses engagements et son courage pour la
                            chérir, la faire grandir et évoluer.”
                        </p>


                        <h4 class="text-center">
                            Mathieu Moisant
                        </h4>
                        <div class="text-center">
                            <img src="{{ '/assets/images/people/' | append: 'MOI.jpg' | absolute_url }}"
                                alt="Mathieu Moisant" class="img-wbo" />
                        </div>


                        <p class="no-margin-bottom">
                            “OCTO Nord, c'est une histoire de personnes réunies autour de la même conviction forte :
                            pour faire honneur à notre vocation de consultant.e.s et pour pouvoir atteindre les
                            résultats les plus impressionnants, il est essentiel de refuser radicalement la facilité et
                            de déjouer le plus possible les pièges de la complexité et de la banalisation. Ce qui
                            m'anime et qui me rend fier c'est d'avoir impulsé et contribué de toutes mes forces, dès la
                            création, à cette aventure intrapreunariale et c'est de pouvoir dire aujourd'hui que chaque
                            membre du collectif apporte ses valeurs, ses idées, ses engagements et son courage pour la
                            chérir, la faire grandir et évoluer.”
                        </p>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="box">
                    <h3 class="title--section">Suivez-nous.</h3>

                    <div class="content">
                        <a class="twitter-timeline" data-height="600"
                            href="https://twitter.com/octochti?ref_src=twsrc%5Etfw">Tweets by octochti</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="row row--vertical equipe">
    <div class="col">
        <div class="box content">
            <h3 class="title--section">Notre collectif.</h3>

            <div class="row" id="toShuffle">
                {% assign peoples = site.data.people %} {% for people in peoples
                %}
                <a class="col people-card shuffleMe" href=" {{ '/equipe.html#' | append: people.poly | absolute_url }}">

                    <img src="{{ '/assets/images/people/' | append: people.poly | append: '.jpg' | absolute_url }}"
                        alt="{{people.name}}" class="img-people" />

                    <h4 class="text-center people-info">
                        {% assign name = people.name | replace: " ",
                            "&#8239;&#8239;" %}
                        <span class="people-name">{{name}}</span>
                        <br />
                        <small>{{people.job}}</small>
                    </h4>
                </a>
                {% endfor %}
            </div>
            <div class="equipe-rejoignez">
                <a href="{{ '/join-us.html' | absolute_url }}" class="btn">Rejoignez-nous !</a>
            </div>
        </div>
    </div>
</div> -->