<div class="bbl" itemscope itemtype="http://schema.org/Course">
    {% assign author = site.data.people | where: "poly", bbl.poly | first %}

    {% if display_contact %}
    {% else %}
    <a href="bbl.html#{{bbl.title | slugify}}">
        {% endif %}
        <p id="{{bbl.title | slugify}}" class="bbl-title" {% if display_contact %}{%else%} style="width: 100%;"
            {% endif %}>
            <span class="bbl-name" itemprop="name">{{bbl.title}}</span>
            <span class="bbl-author">– {{author.name}}</span>
        </p>
        {% if display_contact %}
        {% else %}
    </a>
    {% endif %}



    <div class="bbl-description" itemprop="description">{{bbl.description | newline_to_br | markdownify}}</div>
    <span class="hidden" itemscope itemprop="provider" itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{author.name}}" />
        <meta itemprop="email" content="{{author.poly}}@octo.com" />
    </span>

    {% if display_contact %}
    <a href="mailto:{{author.poly}}@octo.com?subject=BBL {{bbl.title}}" class="btn">Contacter</a>
    {% endif %}
</div>