<div class="event" itemscope itemtype="http://schema.org/Event">
    <div class="event-title row">
        <div class="event-title--date text-center" content="{{event.date}}" itemprop="startDate">
            {% assign date = event.date | date: "%B %d" | split: " " %}
            <span>{{date[0]}}</span>
            <span>{{date[1]}}</span>
        </div>
        <div class="event-title--content col">
            <a href="{{event.url}}" itemprop="name" target="_blank">{{event.title}}</a>
        </div>

        <span class="hidden" itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <meta content="1 place de la Gare" itemprop="streetAddress"/>
                <meta content="59000" itemprop="postalCode"/>
                <meta content="Lille" itemprop="addressLocality"/>
            </span>
        </span>
    </div>
    <div class="event--content">
        <div itemprop="description">{{event.description | newline_to_br | markdownify}}</div>
        <b>#{{event.tag}}</b>
        <a href="{{event.url}}" itemprop="url" target="_blank">en voir plus</a>
    </div>
</div>
