@import "octo-vars";

// All

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

@media screen and (min-width: $desktop-size) {
    .wrapper {
        width: 85%;
    }
}

.row {
    display: flex;
    justify-content: center;
}

// Header

.brand-image {
    padding: $padding;
}

.brand-image,
.banner img {
    width: 100%;
}

header {
    background-color: #e0e1e6;
}

.row {

    &--vertical > .col {
        margin-top: 4rem;
    }

}

// Footer

footer {
    .col {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

#contactez {
    margin-top: 1.5rem;
}

.footer-social {
    text-align: left;

    img {
        width: 35px;
    }
}

.wazemmes {
    margin-top: 0px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.adress {
    font-size: 1.2rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

// Homepage

.why {
    position: relative;
    background-color: $white-color;
    padding: $padding;
    padding-top: $desktop-padding;
    font-family: $font-headline;
    letter-spacing: 0.05rem;
    margin-bottom: 0rem;

    p {
        font-weight: normal;
        font-size: 1.7rem;
        line-height: 2.5rem;
        margin: 0;
    }

    .emphase {
        color: $brand-light-color;
        font-family: $font-emphase;
    }

    @media screen and (max-width: $tablet-size) {
        margin-bottom: 1.5rem;
    }
}

.camp-img {
    float: left;
    width: 50%;
    margin-right: $padding;
}

#about-camp {
    margin-top: $padding;
}

// Recrute

.img-gpt {
    margin-top: 32px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Equipe

.equipe-rejoignez {
    text-align: center;
}

.people-card {
    flex-basis: calc(100% / 6 - 2rem);
    margin: 0rem;
    text-decoration: none;
    padding: 0 1rem !important;

    h4 {
        min-height: 4.5rem;
    }

    img {
        width: 100%;
        border-radius: 50%;
    }
}

// Event

.event-title {
    background-color: $brand-color;
    align-items: center;
    color: $white-color;

    &--date {
        background-color: darken($gray-color, 10%);
        width: 25%;

        span:first-child {
            background-color: $brand-light-color;
            display: block;
            font-weight: bold;
            padding: 0.2em;
        }

        span:last-child {
            color: $text-color;
            font-size: 2.5em;
        }
    }

    &--content {
        font-family: $font-headline;
        margin: 0.5rem;
        flex: 1;

        a {
            color: $white-color;
            text-decoration: none;
        }
    }
}

.event {
    background-color: $white-color;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 2rem;

    &--content {
        padding: 2em;

        a {
            float: right;
        }
    }
}

// Join us page

.job {
    text-decoration: none;
    color: $text-color;
    margin-bottom: $desktop-padding;
    align-items: center;
    background-color: $gray-color;

    &:hover,
    &:hover h2 {
        color: $white-color !important;
    }

    img {
        height: 12rem;
        padding: 2rem;
    }

    &-content {
        background-color: #c0e5e4;
    }

    &:nth-child(even) &-content {
        background-color: $brand-light-blue;
    }

    &:nth-child(odd) {
        background-color: darken($gray-color, 3%);
    }
}

// BBL

.bbl {

    margin-bottom: $desktop-padding;

    .page-index & .bbl-description {
        display: none;
    }

    &-title {
        color: $brand-light-color;
        width: 65%;
        display: inline-block;
        margin: 0;
        font-family: $font-headline;

        & small {
            color: $brand-color;
        }
    }

}

.bbl-name {
    font-size: 1.3rem;
    display: block;
    padding-bottom: 5px;
}

.page-index .bbl-name {
    font-size: 1rem;
    display: inline;
    padding-bottom: 0px;
    border-bottom: 1px dotted;
}

.bbl-title .bbl-author {
    color: #0e2356;
}

.page-index .bbl {
    margin-bottom: 0.5rem;
}

.col-bbl {
    .content {
        padding-top: 1.3rem;
        padding-bottom: 1rem;
    }

    li {
        text-align: justify;
        padding-bottom: 6px;
    }

    strong {
        font-family: "Avenir LT Com 65", "Arial Black", Gadget, sans-serif;
        font-weight: bolder;
        font-size: 1rem;
    }
}

.content-bbl {
    padding-left: 4rem;
    padding-right: 4rem;
}

.content-equipe {
    padding-left: 2rem;
    padding-right: 4rem;
}

// Team page

.people {
    margin: $desktop-padding 0;

    img {
        padding: $desktop-padding;
        margin-top: -$desktop-padding;
        border-radius: 50%;
    }

    &-bbl {

        h5 {
            margin-block-start: 1em;
            margin-block-end: 1em;
        }
    }

    &-name {
        margin-top: 0;
    }

    .col--important {
        flex: 3;
    }
}

@media screen and (min-width: $tablet-size) {
    .banner img {
        width: 40%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .brand-image {
        width: 350px;
    }

    .job {
        margin-bottom: 0;
    }

    .camp-img {
        width: 60%;
    }

    .bbl-title {
        width: 75%;
    }

    .people-card {
        flex-basis: calc(100% / 6 - 2rem);
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.row-page {
    margin-top: 6rem;
}

// Contact Link

.contact-link {
    position: fixed;
    z-index: 9200;
    top: 50vh;
    font-size: 22px;
    color: #0e2356;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    right: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    -webkit-transform: rotate(-90deg) translate(0, 100%);
    transform: rotate(-90deg) translate(0, 100%);

    @media screen and (max-width: $desktop-size) {
        right: 0rem;
    }
}

.octo-france-link {
    position: fixed;
    z-index: 9200;
    top: 51vh;
    font-size: 22px;
    color: #0e2356;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    left: 1rem;
    font-weight: 700;
    text-decoration: none;
    -webkit-transform: rotate(-90deg) translate(0, -100%);
    transform: rotate(-90deg) translate(0, -100%);

    @media screen and (max-width: $desktop-size) {
        left: 0rem;
    }
}

// Expertises

.solutions {
    margin-top: 40px;
    margin-bottom: 50px;

    .col {
        max-width: 360px;
    }
}

.title-about {
    margin: auto;
    margin-top: 15px;
    width: 213px;

    a {
        font-size: small;
        position: relative;
        top: -5px;
    }
}

.align-item--bottom {
    align-self: flex-end;
    padding-top: 20px;
}

.pad-col--right {
    padding-left: 20px;
}

.pad-col--left {
    padding-right: 20px;
}

.pad-col--center {
    padding-right: 20px;
    padding-left: 20px;
}

.aligner-item--top {
    align-self: flex-start;
}

.poles .col-text {
    padding-left: 20px;
}

.row-margintop {
    margin-top: 20px;
}


.poles {
    margin-top: 50px;
    margin-bottom: 0px;
}

.half {
    flex: 0.5;
}

.poles ul {
    font-size: 0.9rem;
    margin-left: -25px;
}

.people-card {
    align-self: flex-start;
}

.people-name {
    margin-bottom: 0px;
}

.img-people {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.banner {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    background: url("../assets/images/opacity-lille.webp");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width: $desktop-size) {
    .banner {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.banner h3 {
    // font-family: "Avenir LT Com 35", Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    // font-weight: bolder;
}

.banner h4 {
    font-family: "Avenir LT Com 55 Roman", "Arial Black", Gadget, sans-serif;
    margin-top: 0px;
    font-weight: bold;
}

strong.title {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Avenir LT Com 65", "Arial Black", Gadget, sans-serif;
    color: #0e2356;
}

.poles li {
    padding-bottom: 5px;
}

.col-founders .first-title {
    margin-top: 0px;
}

.col-founders {
    margin-top: 8rem !important;
}

.col-founders p {
    justify-content: center;
}

.italic {
    font-style: italic;
}

.no-margin-bottom {
    margin-bottom: 0rem;
}

.wbo {
    font-style: normal;
    margin-top: 0px;
    font-size: 1.4rem;
}

.img-wbo {
    width: 55%;
    border-radius: 50%;
}


.poles strong {
    font-family: "Avenir LT Com 65", "Arial Black", Gadget, sans-serif;
}

.equipe h4 {
    margin-top: 10px;
}

#navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

// Navbar links

#navbar a {
    background: none;
}

#navbar .brand-image {
    width: 100px;
    padding: 30px;
    z-index: 0;
}

@media screen and (min-width: 800px) {
    h3.fondateurs {
        margin-top: -6.9rem;
    }
}

.people-card h4 {
    min-height: 1rem;
    font-size: 1rem;
}

.people-info {
    width: 145px;

    small {
        font-family: "Avenir LT Com 35", Arial, Helvetica, sans-serif;;
    }
}

.thereisabetterway {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 175px;
    padding-top: 30px;
}

.signature {
    width: 100%;
    font-size: 13px
}

.align-text--right {
    text-align: right;
}
