@import "octo-vars";

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.brand-image {
    width: 100%;
}

footer {
    .col {
        margin-bottom: $padding;
    }
}

.footer-social {
    text-align: right;

    img {
        width: 15%;
    }
}


// Homepage

.why {
    position: relative;
    background-color: $brand-color;
    padding: $desktop-padding;

    h2 {
        color: $white-color;
        font-weight: normal;
        line-height: 2.5rem;
        margin: 0;
    }

    .emphase {
        color: $brand-light-color;
    }
}

.quote {
    font-size: 7rem;
    position: absolute;

    &:first-child {
        top: 2rem;
        left: 1rem;
    }

    &:last-child {
        bottom: -1rem;
        right: 1rem;
    }
}

.camp-img img {
    width: 70%;
}


// Event

.event-title {
    background-color: $brand-color;
    color: white;

    &--date {
        background-color: darken($gray-color, 10%);
        width: 100px;

        span:first-child {
            background-color: red;
            display: block;
            font-weight: bold;
            padding: 0.2em;
        }

        span:last-child {
            color: $text-color;
            font-size: 2.5em;
        }
    }

    &--content {
        flex-basis: auto;
        padding-left: 1rem;

        > * {
            color: $white-color;
        }
    }
}

.event {
    background-color: $white-color;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 2rem;

    &--content {
        padding: 2em;
    }
}


// Join us page

.job {
    background-color: #C0E5E4;
    text-decoration: none;
    color: $text-color;
    margin-bottom: $desktop-padding;

    &:hover, &:hover h2 {
        color: $white-color !important;
    }

    img {
        height: 12rem;
        padding: 2rem;
    }

    &-image {
        background-color: $gray-color;
    }

    &:nth-child(even) {
        background-color: $brand-light-blue;
    }

    &:nth-child(odd) .job-image {
        background-color: darken($gray-color, 3%);
    }
}

@media screen and (min-width: $desktop-size) {
    .wrapper {
        width: 80%;
    }

    .brand-image {
        width: 350px;
    }

    .job {
        margin-bottom: 0;
    }
}
