@font-face {
    font-family: "Avenir LT Com 65";
    src: url("../assets/fonts/AvenirLTCom-Black.eot");
    src: url("../assets/fonts/AvenirLTCom-Black.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/AvenirLTCom-Black.woff2") format("woff2"),
    url("../assets/fonts/AvenirLTCom-Black.woff") format("woff"),
    url("../assets/fonts/AvenirLTCom-Black.ttf") format("truetype"),
    url("../assets/fonts/AvenirLTCom-Black.svg#AvenirLTCom-Black") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Avenir LT Com 55 Roman";
    src: url("../assets/fonts/AvenirLTCom-Heavy.eot");
    src: url("../assets/fonts/AvenirLTCom-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/AvenirLTCom-Heavy.woff2") format("woff2"),
    url("../assets/fonts/AvenirLTCom-Heavy.woff") format("woff"),
    url("../assets/fonts/AvenirLTCom-Heavy.ttf") format("truetype"),
    url("../assets/fonts/AvenirLTCom-Heavy.svg#AvenirLTCom-Heavy") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Avenir LT Com 35";
    src: url("../assets/fonts/AvenirLTCom-Light.eot");
    src: url("../assets/fonts/AvenirLTCom-Light.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/AvenirLTCom-Light.woff2") format("woff2"),
    url("../assets/fonts/AvenirLTCom-Light.woff") format("woff"),
    url("../assets/fonts/AvenirLTCom-Light.ttf") format("truetype"),
    url("../assets/fonts/AvenirLTCom-Light.svg#AvenirLTCom-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cutoff Pro";
    src: url("../assets/fonts/CutoffPro-BoldItalic.eot");
    src: url("../assets/fonts/CutoffPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/CutoffPro-BoldItalic.woff2") format("woff2"),
    url("../assets/fonts/CutoffPro-BoldItalic.woff") format("woff"),
    url("../assets/fonts/CutoffPro-BoldItalic.ttf") format("truetype"),
    url("../assets/fonts/CutoffPro-BoldItalic.svg#CutoffPro-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}

$text-color: #0e2356;
$brand-color: #0e2356;
$brand-light-color: #00afcb;
$yellow-color: #fab434;
$red-color: #ff4338;
$orange-color: #ff7325;
$turquoise-color: #14c4b3;
$purple-color: #8b69d3;
$green-color: #2bc82b;
$white-color: #fefefe;
$gray-color: #fafafa;

$brand-light-blue: #8bcfcf;
$brand-light-yellow: #fbcb73;
$brand-light-green: #b7dba6;
$brand-light-gray: #dedfe4;

$tablet-size: 800px;
$desktop-size: 1200px;
$padding: 1rem;
$desktop-padding: 2rem;

$font-title: "Avenir LT Com 65", "Arial Black", Gadget, sans-serif;
$font-headline: "Avenir LT Com 55 Roman", "Arial Black", Gadget, sans-serif;
$font-text: "Avenir LT Com 35", Arial, Helvetica, sans-serif;
$font-emphase: "Cutoff Pro", Arial, Helvetica, sans-serif;

$font-text-size: 1rem;
