@import "octo-vars";

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    color: $text-color;
    font-family: "Muli", Georgia, serif;
    background-color: $white-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $brand-color;
}

a {
    color: $brand-light-color;

    &:hover {
        color: darken($brand-light-color, 10%);
    }
}

p {
    text-align: justify;
    line-height: 1.5rem;
}

hr {
    max-width: 60%;
    background-color: darken($gray-color, 20%);
    border: 0;
    height: 1px;
    margin: $desktop-padding auto;
}

img {
    width: 100%;
}

.emphase {
    color: $yellow-color;
    font-style: italic;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    &--vertical {
        flex-direction: column;
    }

    &--vertical > .col {
        margin-bottom: 2rem;
    }

    &--alignCenter {
        align-items: center;
    }
}

.col {
    flex-basis: 100%;
}

.box {
    padding-top: 1rem;
    background-color: $gray-color;
    position: relative;

    > .title--boxed {
        position: absolute;
        top: 0;
    }
}

.box--lined {
    padding: $desktop-padding 0 $padding $padding;
    background: transparent url(../assets/images/pattern.svg) repeat;

    > div {
        background-color: $white-color;
    }
}

.title--boxed, .btn {
    color: $white-color;
    background-color: $brand-light-color;
    display: inline-block;
    margin: 0;
    padding: 0.2rem $padding;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $white-color;
    }
}

.btn {
    &:hover {
        background-color: darken($brand-light-color, 10%);
    }
}

.content {
    padding: $padding;
}

@media screen and (min-width: $desktop-size) {
    .col {
        flex: 1;

        &--important {
            flex: 2;
        }
    }

    .row {
        &.padded > .col {
            padding-right: 2rem;
        }

        &.padded > .col:last-child {
            padding-right: 0;
        }
    }

    .content {
        padding: $desktop-padding;
    }

    .title--boxed, .btn {
        padding: 0.2rem $desktop-padding;
    }

    .box--lined {
        padding: $desktop-padding 0 $desktop-padding $desktop-padding;
    }
}
