@import "octo-vars";

@font-face {
    font-family: AvenirLTComBlack;
    src: url(../assets/fonts/AvenirLTCom-Black.ttf) format('truetype');
}

@font-face {
    font-family: AvenirLTComHeavy;
    src: url(../assets/fonts/AvenirLTCom-Heavy.ttf) format('truetype');
}

@font-face {
    font-family: AvenirLTComLight;
    src: url(../assets/fonts/AvenirLTCom-Light.ttf) format('truetype');
}

@font-face {
    font-family: CutoffProBoldItalic;
    src: url(../assets/fonts/CutoffPro-BoldItalic.otf) format('opentype');
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    color: $text-color;
    font-family: $font-text;
    background-color: $white-color;
    font-size: $font-text-size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    color: $brand-color;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;

    &.title--section {
        font-size: 3.5rem;
        margin-top: -2.9rem;
    }
}

h3 {
    font-size: 1.9rem;

    &.title--section {
        font-size: 2.5rem;
        margin-top: -2.1rem;
    }
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1rem;
}

a {
    color: $brand-light-color;

    &:hover {
        color: darken($brand-light-color, 10%);
    }
}

p {
    text-align: justify;
    line-height: 1.5rem;
}

hr {
    max-width: 60%;
    background-color: darken($gray-color, 20%);
    border: 0;
    height: 1px;
    margin: $desktop-padding auto;
}

img {
    width: 100%;
}

.emphase {
    color: $yellow-color;
    font-style: italic;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    &--vertical {
        flex-direction: column;
    }

    &--vertical > .col {
        margin-bottom: 2rem;
        margin-top: $desktop-padding;
    }

    &--alignCenter {
        align-items: center;
    }
}

.col {
    flex-basis: 100%;
}

.box {
    padding-top: 1rem;
    background-color: $gray-color;
    position: relative;

    > .title--section {
        position: absolute;
        top: 0;
    }
}

.box--lined {
    padding: $padding;
    background: transparent url(../assets/images/pattern.svg) repeat;

    > div {
        background-color: $white-color;
    }
}

.title--section {
    font-family: $font-title;
    color: $brand-color;
    display: inline-block;
    margin: 0;
    text-decoration: none;
}

.btn {
    font-family: $font-headline;
    display: inline-block;
    color: $brand-color;
    border-radius: 10px;
    margin: 0;
    padding: 0.7rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    border: 2px solid $brand-color;

    &:hover {
        background-color: $brand-color;
        color: $white-color;
    }
}

.content {
    padding: $padding;
}

@media screen and (min-width: $desktop-size) {
    h2.title--section {
        font-size: 5rem;
        margin-top: -4.1rem;
    }

    h3.title--section {
        font-size: 4rem;
        margin-top: -3.25rem;
    }

    .col {
        flex: 1;

        &--important {
            flex: 2;
        }
    }

    .row {
        &.padded > .col {
            padding-right: 2rem;
        }

        &.padded > .col:last-child {
            padding-right: 0;
        }
    }

    .content {
        padding: $desktop-padding;
    }

    .box--lined {
        padding: $desktop-padding;
    }
}
