$text-color: #0E2356;
$brand-color: #0E2356;
$brand-light-color: #00AFCB;
$yellow-color: #FAB434;
$red-color: #FF4338;
$orange-color: #FF7325;
$turquoise-color: #14C4B3;
$purple-color: #8B69D3;
$green-color: #2BC82B;
$white-color: #FEFEFE;
$gray-color: #FAFAFA;

$brand-light-blue: #8BCFCF;
$brand-light-yellow: #FBCB73;
$brand-light-green: #B7DBA6;
$brand-light-gray: #DEDFE4;

$tablet-size: 800px;
$desktop-size: 1200px;
$padding: 1rem;
$desktop-padding: 2rem;

$font-title: "Avenir LT Com 65", "Arial Black", Gadget, sans-serif;
$font-headline: "Avenir LT Com 55 Roman", "Arial Black", Gadget, sans-serif;
$font-text: "Avenir LT Com 35", Arial, Helvetica, sans-serif;
$font-emphase: "Cutoff Pro", Arial, Helvetica, sans-serif;

$font-text-size: 1rem;
