@font-face {
    font-family: "Avenir LT Com 65";
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Avenir LT Com 55 Roman";
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Avenir LT Com 35";
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cutoff Pro";
    font-weight: bold;
    font-style: italic;
}

$text-color: #0e2356;
$brand-color: #0e2356;
$brand-light-color: #00afcb;
$yellow-color: #fab434;
$red-color: #ff4338;
$orange-color: #ff7325;
$turquoise-color: #14c4b3;
$purple-color: #8b69d3;
$green-color: #2bc82b;
$white-color: #fefefe;
$gray-color: #fafafa;

$brand-light-blue: #8bcfcf;
$brand-light-yellow: #fbcb73;
$brand-light-green: #b7dba6;
$brand-light-gray: #dedfe4;

$tablet-size: 800px;
$desktop-size: 1200px;
$padding: 1rem;
$desktop-padding: 2rem;

$font-title: "Avenir LT Com 65", "Arial Black", Gadget, sans-serif;
$font-headline: "Avenir LT Com 55 Roman", "Arial Black", Gadget, sans-serif;
$font-text: "Avenir LT Com 35", Arial, Helvetica, sans-serif;
$font-emphase: "Cutoff Pro", Arial, Helvetica, sans-serif;

$font-text-size: 1rem;
