---
---

@charset "utf-8";
@import "octo";
@import "octo-vars";

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.bbl-title {
    background-color: $brand-color;
    color: white;

    &--date {
        background-color: darken($gray-color, 10%);
        width: 100px;

        & span:first-child {
            background-color: red;
            display: block;
            font-weight: bold;
            padding: 0.2em;
        }

        & span:last-child {
            color: $text-color;
            font-size: 2.5em;
        }
    }

    &--content {
        padding-left: 1rem;

        & > * {
            color: $white-color;
        }
    }
}

.bbl {
    background-color: $white-color;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 2rem;

    &--content {
        padding: 2em;
    }
}
