<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, user-scalable=no, minimal-ui">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
          content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="{{ 'assets/images/favicon.ico' }}" rel="shortcut icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,700,900">
    <link rel="stylesheet" href="{{ 'assets/normalize.css' }}">
    <link rel="stylesheet" href="{{ 'assets/main.css' }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>

<body>

<main class="wrapper">
        <div class="col">
            <a href="/"><img src="assets/images/logo_beffroi.png" class="brand-image"></a>
        </div>
    {{ content }}
</main>

<footer>
    <div class="wrapper content">
        <div class="row">
            <div class="col">
                <h2>{{site.title}}</h2>
                <a href="mailto:{{site.email}}">Contactez-nous</a>
            </div>
            <div class="col">
                © OCTO Technology 2019
            </div>
            <div class="col social">
                <a href="{{ site.twitter }}"><img
                    src="assets/images/social/twitter-34981b303de60144494351ef174977ed69429530c953466b019c23caf672dd24.svg"></a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
